body {
  font-family: 'Mitr', sans-serif;
}

.section {
  margin: 0px;
  padding: 100px 0px 100px 0px;
  height: 100%;
}

.thumbnail {
  background-color: rgb(255,255,255);
  height: 100%;
}

footer {
  padding: 25px;
}

.profile-photo {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 2px solid rgb(0,0,0);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description {
  padding: 10px 10% 10px 10%;
  }

.row {
  height: 200px;
  padding: 0px 20px 0px 20px;
}

.image-placeholder {
  opacity: 0.0;
}

#home {
  color: rgb(255,255,255);
  background: url(https://www.thewallpapers.org/photo/13947/Eternal_Sky_-_1600x1200_-_ID_43131.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#about {
  color: rgb(0,0,0);
  background-color: rgb(255,255,255);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#portfolio {
  color: rgb(255,255,255);
  background: url(https://www.thewallpapers.org/photo/13947/Eternal_Sky_-_1600x1200_-_ID_43131.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
