body {
  font-family: 'Mitr', sans-serif;
}

.section {
  margin: 0px;
  padding: 100px 0px 100px 0px;
}

.thumbnail {
  background-color: white;
  height: 100%;
}

footer {
  padding: 25px;
}

.profile-photo {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 2px solid black;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description {
  padding: 10px 0px 10px 0px;
  }

.row {
  height: 200px;
  padding: 0px 20px 0px 20px;
}

.image-placeholder {
  opacity: 0.0;
}

#home {
  padding: 200px 0px 200px 0px;
  color: white;
  background: url(http://www.thewallpapers.org/photo/13947/Eternal_Sky_-_1600x1200_-_ID_43131.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#about {
  color: white;
  background: url(https://upload.wikimedia.org/wikipedia/commons/c/cb/Wooden-plank-and-nailed-alum-sheet.jpg) no-repeat center center fixed;
  background-color: rgba(255,255,255,.5);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
#portfolio {
  color: white;
  background: url(http://www.thewallpapers.org/photo/13947/Eternal_Sky_-_1600x1200_-_ID_43131.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
